.DS_Store
*.dylib
*.log
*.so
*.dll
*.o
*.swp
core.*
local/
tutorials/
src/TODO
examples/glslcookbook/01-getting-started/*.bin
examples/glslcookbook/cache/*-*
examples/learnopengl/resources/objects/
examples/learnopengl/resources/textures/
